.comment {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 20fr;
    position: relative;
    .avt-user {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        & img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .comment-info {
        .comment-user-title {
            display: flex;
            align-items: center;
            .comment-user-name {
                margin-right: 5px;
                font-weight: bold;
                font-size: 16px;
            }
            .comment-user-time {
                font-size: 14px;
                font-weight: 300;
                color: #aaa;
            }
        }
        .comment-user-content {
            font-size: 14px;
            width: 100%;
            word-wrap: break-word;
            line-height: 1.4;
        }
    }
    .option-comment {
        position: absolute;
        right: 0;
        top: 0;
        display: none;

        .option-comment-icon {
            cursor: pointer;
        }
    }

    &:hover .option-comment {
        display: block;
    }
}
