.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .message-top {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        span {
            padding: 10px;
            border-radius: 20px;
            background-color: #1877f2;
            color: var(--clr-white);
            max-width: 500px;
            text-align: justify;
            text-justify: inter-word;
        }
    }
    .message-bottom {
        font-size: 12px;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
}

.message.own {
    align-items: flex-end;
    margin-right: 10px;

    & > .message-top {
        img {
            display: none;
        }

        span {
            background-color: rgb(245, 241, 241);
            color: var(--clr-black);
        }
    }
}
