.app {
    transition: all 0.2s linear;
    .sidebar {
        transition: all 0.2s linear;
    }
}
.app.dark {
    background-color: var(--clr-black);
    color: var(--clr-white) !important;
    transition: all 0.2s linear;
    & input,
    & button,
    & textarea {
        color: var(--clr-white) !important;
    }
    .chartGrid {
        stroke: rgba(228, 228, 228, 0.219);
        color: var(--clr-black);
    }
    .upload-container {
        background-color: var(--clr-black);

        & input,
        & textarea {
            color: #aaaaaa;
            // background-color: #373737;
            border: 1px solid #373737;
        }

        & button {
            color: #aaaaaa;
            background-color: #373737;
        }
    }
    .profile {
        .modal-content {
            background-color: var(--clr-black);

            .modal-footer {
                .btn-del {
                    color: #aaaaaa;
                    background-color: #373737;
                }
            }
        }
        .col-video-item {
            .block-option {
                background-color: var(--clr-black);
                .block-option-item {
                    &:hover {
                        background-color: rgb(76, 76, 76);
                    }
                }
            }
        }
    }

    .table {
        background-color: var(--clr-black);

        .table-cell-item {
            color: var(--clr-white);
        }
    }
    hr {
        border-color: #666 !important;
    }
    .navbar {
        color: var(--clr-white);
        background-color: var(--clr-black);
        .notifications {
            background-color: var(--clr-black);
        }
        .language-dropdown {
            background-color: var(--clr-black);
        }
        .navbar-items {
            .navbar-item {
            }
        }
    }
    .sidebar {
        background-color: var(--clr-black);
        color: var(--clr-white) !important;
        border-right: 2px solid #666;
        transition: all 0.2s linear;
    }

    .data-table {
        & td,
        & p,
        & li,
        & div,
        .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon,
        & th {
            color: var(--clr-white);
        }
        .css-1q1u3t4-MuiTableRow-root {
            background-color: var(--clr-black);
        }
        .css-34nofg-MuiTableRow-root {
            background-color: #373737;
        }
    }
    .rbc-btn-group {
        & button {
            background-color: var(--clr-white);
            transition: var(--transition);
            color: var(--clr-black) !important;
            &:hover {
                background-color: #666;
                color: var(--clr-white) !important;
            }
        }
    }
    .video {
        .video-container {
            .content-vid {
                .vid-description {
                    background-color: #272727;
                    .vid-interact {
                        font-size: 14px;
                        color: rgb(169, 169, 169);
                        font-weight: bold;
                    }
                }
                .box-comment {
                    .list-comment {
                        .comment {
                            .option-comment {
                            }
                            .block-option {
                                background-color: var(--clr-black);
                                .block-option-item {
                                    &:hover {
                                        background-color: rgb(76, 76, 76);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .messenger {
        .messenger-header {
            border-bottom: 1px solid #aaaaaa;
        }
        .messenger-input {
            .chat-input {
                background-color: #373737;
                color: #aaaaaa;
            }
        }
    }
    .conversation {
        &:hover {
            background-color: #373737;
        }
    }
    .blog {
        .blog-container {
            .blog-container-item {
                background-color: #272727;

                .blog-container-item-content {
                    & span {
                        color: #aaaaaa;
                    }
                }
            }
        }
    }
    .post {
        .separate {
            background-color: #aaaaaa;
        }
        .list-suggest-post {
            .blog-container-item {
                background-color: #272727;

                .blog-container-item-content {
                    & span {
                        color: #aaaaaa;
                    }
                }
            }
        }
        .modal-content-post {
            background-color: var(--clr-black);

            .modal-footer-post {
                .btn-del {
                    color: #aaaaaa;
                    background-color: #373737;
                }
            }
        }
    }
    .newPost {
        .post-btn {
            color: #fff;
            background-color: #373737;
        }

        .ck.ck-editor {
            // color: #000 !important;

            .ck-editor__top {
                background-color: var(--clr-black);
            }
            .ck.ck-button.ck-on,
            a.ck.ck-button.ck-on {
                color: var(--ck-color-button-on-color) !important;
            }
            .ck.ck-editor__main {
                color: white;
            }

            .ck.ck-editor__editable {
                background-color: var(--clr-black);
                color: white;
                // border: none;
            }

            .ck.ck-editor__editable:focus {
                outline: none;
                border-color: var(--clr-white) !important;
            }
            .ck-reset_all :not(.ck-reset_all-excluded *),
            .ck.ck-reset_all {
                // color: var(--ck-color-text) !important;
                background-color: var(--clr-black);
            }
            .ck-toolbar__separator {
                background-color: #aaaaaa !important;
            }
        }
    }
    .list-blog-profile {
        .blog-container-item {
            background-color: #272727;

            .blog-container-item-content {
                & span {
                    color: #aaaaaa;
                }
            }
        }
    }
    .select {
        border-bottom: 2px solid var(--clr-grey-10);
        // transition: 0.4s ease-in-out;
    }
    .new-video-list,
    .new-user-list {
        .css-apqrd9-MuiTableBody-root {
            background-color: #373737;
            & th,
            td {
                color: var(--clr-white) !important;
            }
        }
    }
}
