.chart-video-mostView {
    padding: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .chart-video {
        width: 100% !important;
        // height: 100% !important;
    }

    & h2 {
        text-align: center;
    }
}
