@import "../../style/_mixins.scss";

.sidebar {
    border-right: 2px solid var(--clr-grey-9);
    background-color: #fff;
    min-height: 100vh;
    position: relative;

    @include respond(mobile) {
        // display: none;
        position: fixed;
        left: -100%;
    }
    @include respond(tablet) {
        position: fixed;
        left: -100%;
    }
}
.openRes {
    display: none;
    width: 200px;
    @include respond(mobile) {
        display: block;
        left: 0;
        z-index: 100;
    }
    @include respond(tablet) {
        display: block;
        left: 0;
        z-index: 100;
    }
    .search {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        // padding: 20px;
        // @include respond(mobile) {
        //     display: none;
        // }
        .search-input {
            border: 0.5px solid var(--clr-grey-8);
            padding: 8px 10px;
            font-size: 12px;
            border-top-left-radius: var(--radius);
            border-bottom-left-radius: var(--radius);
            border-right: none;
            background: transparent;
            max-width: 150px;
            margin-left: 5px;
        }
        .search-input:focus {
            border-color: var(--clr-red-dark);
        }
        .search-button {
            background-color: var(--clr-red-dark);
            padding: 8px 10px;
            color: var(--clr-white);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.5px solid transparent;
            border-top-right-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
            max-height: 32px;
        }
    }
}
.top {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: sticky;
    top: 0;
}

.menu-icon-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}
.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-red-dark);
}
hr {
    height: 0;
    border: 0.5px solid var(--clr-grey-9);
    position: sticky;
    top: 50px;
    z-index: 99;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 50px;
}
.center ul {
    width: 100%;
}
.center ul li {
    padding: 10px 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: var(--transition);
    &:hover {
        background-color: var(--clr-primary-10);
        color: var(--clr-red-dark);
    }
}
.icon {
    font-size: 2rem !important;
}
.center ul li span {
    font-weight: 500;
    margin-left: 10px;
}
.title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--clr-primary-6);
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}
