@import "../../style/_mixins.scss";
.navbar {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--clr-white);

    .notifications {
        position: absolute;
        background-color: var(--clr-white);
        z-index: 99;
        top: 50px;
        right: 170px;
        min-width: 500px;
        .notifications-list {
            padding: 20px;
        }
    }
    .language-dropdown {
        position: absolute;
        top: 50px;
        right: 250px;
        padding: 20px 30px;
        background-color: var(--clr-white);
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid rgb(88, 88, 88);
        .language-option {
            cursor: pointer;
            transition: all 0.2s linear;
            &:hover {
                color: var(--clr-red-dark);
            }
        }
    }
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    height: 50px;
    font-size: 14px;
    // color: var(--clr-grey-1);
    .menu-icon-res {
        display: none;
        cursor: pointer;
        @include respond(mobile) {
            display: flex;
            align-items: center;
            height: 100%;
        }
        @include respond(tablet) {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
    .search {
        display: flex;
        align-items: center;
        // padding: 20px;
        // @include respond(mobile) {
        //     display: none;
        // }
        .search-input {
            border: 0.5px solid var(--clr-grey-8);
            padding: 8px 10px;
            font-size: 12px;
            border-top-left-radius: var(--radius);
            border-bottom-left-radius: var(--radius);
            border-right: none;
            background: transparent;
            max-width: 200px;
        }
        .search-input:focus {
            border-color: var(--clr-red-dark);
        }
        .search-button {
            background-color: var(--clr-red-dark);
            padding: 8px 10px;
            color: var(--clr-white);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.5px solid transparent;
            border-top-right-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
            max-height: 32px;
        }
    }
    @include respond(mobile) {
        .search {
            display: none;
        }
    }
}

.navbar-items {
    display: flex;
    align-items: center;
}
.navbar-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
    transition: var(--transition);
    position: relative;
    .icon-upload {
        font-size: 2.5rem !important;
    }
    .amount {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--clr-red-dark);
        color: var(--clr-white);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: 700;
        position: absolute;
        top: -5px;
        right: -5px;
    }
    span {
        margin-left: 5px;
    }
    &:hover {
        color: var(--clr-red-dark);
    }

    .avatar {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
    }
    .language {
        display: flex;
        align-items: center;
    }
}
